* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: gray;
}

.container {
  background-color: black;
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
}

.inspiration-side {
  background-color: red;
  border: 2px solid white;
  width: 40%;
  padding: 5px; 
}

.canvas-side {
  display: flex;
  background-color: blue;
  border: 2px solid white;
  width: 60%;
}

.palette {
  background-color: yellow;
  border: 2px solid white;
  width: 20%;
  height: 100%;
}

.canvas {
  background-color: green;
  border: 2px solid white;
  width: 80%;
  height: 100%;
}
