canvas {
    max-width: 100%;
    max-height: 100vh;
}

.button:hover{
    transform: translateY(-10px);
    transition: 15ms;
}

.canvas {
    max-height: 87vh;
}

.alert-error {
    background-color: #ef5350;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
}

#video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -50;
}

#hero {
    margin-top: 100px;
    background-color: rgba(97, 94, 89, 0.6);
    padding: 2em;
    border-radius: 5px;
}